/*

font-family: 'Poppins', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-family: 'ABeeZee', sans-serif;
font-family: 'Quattrocento Sans', sans-serif;


*/



img {
    max-width: 100%;
    max-height: 300px;
}

#file_load{

    background-color: #e6ebf2;
}

.txt_style {
    font-size: 20px;
   
}